
    <div class="card w-100" >
  
        <div class="banner card-img-top">
            <img [src]="perfil.bannerUrl"    class="banner-foto" alt="...">
        </div>
        <div class="card-body container-fluid ">
            <div class=" border-bottom d-flex flex-column flex-sm-row justify-content-center justify-content-sm-start border-1 pt-3 px-3 pb-2 mb-3">
                <div class="me-2">
                    <div class="m-auto m-md-0 foto-perfil-container">
                        <img [src]="perfil.perfilUrl" class="foto-perfil border border-success rounded-circle border-4">                     
                    </div>
                </div>
                <div class=" d-flex justify-content-center justify-content-md-start align-items-end">                       
                    <h1 class="d-inline-block fs-2 text-center text-sm-start ">{{perfil.nombre}} {{perfil.apellido}}</h1>
                    <i (click)="onEditar()"class='bx bx-edit-alt ms-2 bx-sm bx-tada-hover  text-primary align-self-start align-self-sm-center'  ></i>                   
                 </div>    
            </div>     
            <div class="row justify-content-center justify-content-md-start">         
                <p class="card-text text-center text-md-start">{{perfil.profesion}}</p>
                <p class="card-text text-center text-md-start"> {{perfil.edad}} años. {{perfil.localidad}}, {{perfil.provincia}}</p>
            </div>
        
            <div class="row justify-content-start mt-2">
                <div class="col-auto" *ngFor="let redS of perfil.redesSociales" >
                    
                   <a [href]="redS.url" target="_blank"><i class='bx-md  bx-tada-hover ' [ngClass]="redS.claseBoxIcon" [ngStyle]="{'color':redS.color}" ></i></a>
                </div>
                
            </div>
    
       
</div>

     