<div class="d-flex d-row m-0 p-0 ">
    <div class="col nav-icon mx-2"><a href=""><i class='bx bx-md text-light bx-tada-hover bxl-facebook-circle'></i></a></div>
    <div  class="col nav-icon mx-2"><a href=""><i class='bx bx-md text-light bx-tada-hover bxl-instagram' ></i></a></div>
    <div  class="col nav-icon mx-2"><a href=""><i class='bx bx-md text-light bx-tada-hover bxl-twitter' ></i></a></div>
    <div  class="col nav-icon mx-2"><button id="login-button" (click)="activaForm()" class="btn align-self-center  btn-outline-success ">Login</button></div>
</div>