<div class="card p-3 mt-3 container-fluid">
    <div class="row justify-content-between">
        <div class="col">
            <h3 class="card-title d-inline-block me-2 text-center text-sm-start">Acerca de</h3>
            <i class='bx bx-edit-alt bx-sm bx-tada-hover  text-primary' (click)="abrirEditar()" ></i>
        </div>
            
        
    </div>
    <div class="row">
        <p class="card-text text-center text-sm-start" *ngIf="!editarActivado" >{{miAbout.content}}</p>
        <app-editar-about [valorInicial]="miAbout.content" *ngIf="editarActivado" (editarEvent)="editarAbout($event)"></app-editar-about>
    </div>
</div>