
<main class="p-3">
    
    <app-perfil [perfil]="portfolio.perfil" ></app-perfil>
    
   <app-proyectos *ngIf="portfolio.proyectos.length>0" class="mb-3" [proyectos]="portfolio.proyectos"></app-proyectos>
   <app-about [about]="portfolio.perfil.about"></app-about>
   <app-estudios-proyectos *ngIf="portfolio.educaciones.length>0" [idPerfil]="portfolio.perfil.id" [educaciones]="portfolio.educaciones" ></app-estudios-proyectos>
   <app-listado-experiencia *ngIf="portfolio.experiencias.length>0" [idPerfil]="portfolio.perfil.id" [experiencias]="portfolio.experiencias"></app-listado-experiencia>
   <app-skills-por-tipo *ngIf="portfolio.skills.length>0" [skills]="portfolio.skills"></app-skills-por-tipo>

</main>

