<div class="card p-3 mt-3">
    
    <div class="mt-2 d-flex justify-content-between">
        <h2 class="mt-2">Experiencias</h2>
        <div>
            <button class="btn btn-success" (click)="onAgregar()" *ngIf="!(formAgregar||formEditar)">Agregar</button>
            <button class="btn btn-danger" (click)="onCerrar()"  *ngIf="formAgregar||formEditar">Cerrar</button>
        </div>
    </div>
    <ul  *ngIf="!(formAgregar||formEditar)" cdkDropList (cdkDropListDropped)="onDropped($event)">
        <li *ngFor="let exp of experiencias" cdkDrag  class="container-fluid">
            <app-experiencia  
            
            [miExperiencia]="exp" (editarExp)="
            onEditar($event)" (eliminarExp)="
            onEliminar($event)" 
            >
            </app-experiencia>
        </li>
    </ul>
    <app-agrega-experiencia *ngIf="formAgregar" [idPerfil]="idPerfil" (expAgregada)="agregarExp($event)"></app-agrega-experiencia>
    <app-edita-experiencia *ngIf="formEditar" [expOrig]="expAEditar" (expEditada)="editarExp($event)"></app-edita-experiencia>
    
</div>
