<form class=" " [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="mt-5 m-auto d-flex flex-column justify-content-center align-items-center w-50 border border-3 rounded p-3">
        <div class="w-auto align-self-end">
          <a class="w-auto h4 d-inline-block login" routerLink="/login">Login</a>
          <h1 class="w-auto fs-2 d-inline-block ms-2 underlined"><u>Register</u></h1>
        </div>
        <div class="mb-3 w-100">
          <label for="username" class="form-label ">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username" >
          <div class="text-danger" *ngIf="Username?.hasError && Username?.touched">
            <p *ngIf="Username?.hasError('required')">El username es requerido</p>
            <p *ngIf="Username?.hasError('pattern')">Debe empezar con letra minuscula y tener al menos 5 caracteres</p>
            <p *ngIf="Username?.hasError('maxlength')">Debe tener un máximo de {{validaciones.maxLengthUser}} caracteres</p>
          </div>
        </div>
        <div class="mb-3 w-100">
            <label for="email" class="form-label ">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" >
            <div class="text-danger" *ngIf="Email?.hasError && Email?.touched">
              <p *ngIf="Email?.hasError('required')">El email es requerido</p>
              <p *ngIf="Email?.hasError('maxlength')">Debe tener un máximo de {{validaciones.maxLengthEmail}} caracteres</p>
              <p *ngIf="Email?.hasError('pattern')">Debe ser de la forma ____@(gmail/yahoo/hotmail/ymail/outlook).com(.ar)?</p>
            </div>
        </div>
        <div class="mb-3 w-100">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div class="text-danger" *ngIf="Password?.hasError && Password?.touched">
            <p *ngIf="Password?.hasError('required')">La contraseña es requerida</p>
            <p *ngIf="Password?.hasError('maxlength')">Debe tener un máximo de {{validaciones.maxLengthPass}} caracteres</p>
            <p *ngIf="Password?.hasError('pattern')">Debe tener al menos 4 caracteres al comienzo y 1 digito despues</p>
          </div>
        </div>
    
    <button type="submit" class="btn btn-primary w-auto align-self-start">Register</button>
    </div>
</form>