
.fondo-img{    
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x: center;
    background-position-y:40%;
    
    
 }
 .fondo-color{
     background:linear-gradient(180deg,rgba(0,0,0,0.3),rgba(255,255,255,0.8) 60%);
     height:100%;
 }
 
 .fondo-color:hover{
     animation-name: fondoBlanco;
     animation-duration: 300ms;
     animation-fill-mode: forwards;
 }
 @keyframes fondoBlanco{
     100%{
         background:none;
         background-color: rgba(255,255,255,0.7);
     }
 }
 