<section>
    <div class="card w-100" >
        <div class="banner card-img-top">
        <img [src]="miPerfil.bannerUrl"   class="banner-foto" alt="...">
        </div>
        <div class="card-body container-fluid ">
            <div class="row border-bottom border-1 pt-3 px-3 pb-2 mb-3">
                <img [src]="miPerfil.profileUrl" class="d-hidden d-sm-block col-12 col-sm-auto col-md-1 m-auto m-sm-0 justify foto-perfil border p-0 border-4  rounded-circle ">             
                <h1 class="col-12 col-sm-10 align-self-center align-self-sm-end text-center text-sm-start card-title">{{miPerfil.nombre}}</h1>
            </div>    
      
                <p class="card-text text-center text-sm-start">{{miPerfil.current}}</p>
                <p class="card-text text-center text-sm-start">{{miPerfil.location}}</p>
            
            <div class="row justify-content-start gx-2 gy-2">
                <div class="col-12 col-sm-auto">
                    <button class="btn w-100 btn-primary">Tengo interés</button>
                </div>
                <div class="col-12 col-sm-auto">
                    <button class="btn w-100 btn-secondary ">Añadir Seccion</button>
                 </div>
                 <div class="col-12 col-sm-auto">
                    <button class="btn w-100   btn-secondary">Mas</button>   
                </div>
            </div>
        </div>
      </div>

</section>