    <div class="mt-2 d-flex justify-content-between">
        <h3 class="mt-2">{{edusByTipo.tipoEdu.descripcion}}s</h3>
        <div *ngIf="isAdmin">
            <i class="bx bx-plus bx-md text-success" (click)="onAgregar()" *ngIf="!(formAgregar||formEditar)"></i>
            <i class="bx bx-minus  bx-md text-danger" (click)="onCerrar()"  *ngIf="formAgregar||formEditar"></i>
        </div>
    </div>
    <app-agrega-educacion *ngIf="formAgregar" (eduGuardada)="agregarEdu($event)"    [idTipoEdu]="edusByTipo.tipoEdu.id"></app-agrega-educacion>
    <app-edita-educacion *ngIf="formEditar"  (eduEditada)="editarEdu($event)" [eduOrig]="eduAEditar"></app-edita-educacion>
    <ul *ngIf="!(formAgregar||formEditar)" cdkDropList (cdkDropListDropped)="onDropped($event)">
        <li cdkDrag *ngFor="let edu of edusByTipo.educaciones">
            <app-educacion (eliminarEdu)="onEliminar($event)" 
            (editarEdu)="onEditar($event)" 
            [miEducacion]="edu"
             >
            </app-educacion>
        </li>    
    </ul>

