<div >
    <div class="d-flex flex-column justify-content-between align-items-center flex-md-row   ">
      <h3 class="card-title text-center text-sm-start">{{titulo}}</h3>
      <div>
        <i *ngIf="!formActivado" class='bx bx-list-plus bx-md' [ngClass]="{'bx-list-minus':formActivado,'bx-list-plus':formActivado}" (click)="abrirAgregarEdu()" [ngClass]="animacionBotonAdd?'addAnim':''"></i>
        <i *ngIf="formActivado" class='bx bx-list-minus bx-md'  (click)="cerrarFormulario()"></i>
      </div>
    </div>
 
    <app-manejo-educacion *ngIf="formActivado" class="m-0 p-0 me-0" [idDisp]="lastAlvId" (enviaEdu)="editar?editarEducacion($event):agregarEducacion($event)" [tipoEducacion]="titulo" [editar]="editar" [educacionAEditar]="educacionAEditar"></app-manejo-educacion>
    <app-educacion *ngFor="let educacion of misEducaciones" (borrarEdu)="borrarEducacion($event)" (editarEdu)="abrirEditar($event)" [miEducacion]="educacion" ></app-educacion>
   
    
</div>
